<div class="container">
  <div class="row mb-4">
    <div class="col-12 text-center">
      <div class="style-56pfur">
        <h2 class="mb-3 ml-sm-n2">Technology-sharingについて</h2>
      </div>

      <section class="style-1hnm6b6">
        <h3 class="style-kwp4wo">Technology-sharingは初心者を対象とした情報共有コミュニティアプリです。</h3>
        <p class="style-wsdtbe">
        情報記事に加えて動画も投稿できる形で情報を共有することによって、成長や生産性をあげることを目標としました。
        </p>
      </section>

      <section class="style-1hnm6b6">
        <h3 class="style-kwp4wo">Technology-sharingのメリット。</h3>
        <p class="style-wsdtbe">
        動画も投稿できる形で情報を共有することによって
        環境構築など初心者が詰まりやすいところを動画で学ぶことができるので、
        初心者が挫折しないように学習を続けることがでます。
        </p>
      </section>
    </div>
  </div>
</div>