<div class="welcom-text">
  <%= image_tag "haikei.jpg", class: "bd-placeholder-img bd-placeholder-img-lg card-img rounded shadow-lg" %>
  <div class="card-img-overlay d-flex">
    <p class="text-white font-italic card-text align-self-center mx-auto font-weight-bold h3" id="top-text">
      Welcome! To Technology-sharing!!
    </p>
  </div>


</div>