<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-3">ユーザー一覧</h2>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td>
                <%= link_to admin_user_path(user) do %>
                  <%= user.name %>
                <% end %>
              </td>
              <td><%= user.email %></td>
              <td>
                <% if user.is_deleted %>
                  <span class="text-danger">退会</span>
                <% else %>
                  <span class="text-success">有効</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

